/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

// brand colors
$primary: blue;
$secondary: green;

.center-vertical {
  display: flex;
  align-items: center;
}

p {
  margin-bottom: 0;
}

.first-heading {
  margin-top: 1.5em;
}

.header-with-icon {
  line-height: 1.5em;
}

.first-section {
  margin-top: 1em;
}

.center-notice {
  width: 90%;
  text-align: center;
  margin: 3em auto;
  color: gray;
}

.sub-info {
  font-size: 0.8em;
  color: gray;
}

.hover-btns {
  input, a {
    float: right;
  }
  a {
    width: 40px;
  }
}

.tight-hover-btns {
  @extend .hover-btns;
  input, a {
    margin-bottom: 0.25em;
    line-height: 1em;
  }
}

.icon-btn {
  line-height: 1.25em;
  float: right;
  color: $secondary;
}

// forms

br {
  margin: 0.75em;
}

.form-label {
  color: gray;
  text-align: right;
}

.form-inputs {
  input {
    width: 12em;
    text-align: right;
    padding-right: 10px;
  }
}

.submit-btn {
  @extend .btn;
  @extend .btn-primary;
  margin: 1em auto 1em auto;
  width: auto;
}

// DEBUG

.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.blue {
  background-color: blue;
}
