<!DOCTYPE html>
<html>
  <head>
    <title>Manage Prints</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
  </head>

  <body>
    <div class="container" style="margin-top:2em;">
      <h1 style="margin-bottom:1em;">3D Printing Manager</h1>
      <%= yield %>
    </div>
  </body>
</html>
